.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list-header a {
  opacity: 0.7;
}

.list-item{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-icon-name {
  display: flex;
  align-items: center;
}

.list-item h5{
    margin-bottom: 5px;
    font-weight: 600;
}

.icon-list{
    height: 50px;
    width: 50px;
    background-color: var(--inputborder);
    opacity: 0.8;
    border-radius: 10px;
    margin-right: 8px;
}

.list-body p{
    color: var(--inputtext);
}

.icon-list h4 {
    font-weight: 700;
    color: var(--inputtext);
}

.betrag{
   color: var(--red);
}