.add-income{
    min-height: 100vh;

}

.add-income .header {
  background-color: var(--green);
  padding: 0 15px;
}

.add-income section{
    background-color: white;
    border-radius:20px ;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.189);
    margin: -20px 20px 0 20px;

}

.add-income form button{
  margin: 0 0 0 auto;
}