.home{
    min-height: 100vh;
    background-color: white;
    background-image: url(../../public/img/background.svg);
    background-repeat: no-repeat;
    background-size:inherit;
    background-position: top;
}

