.login-page {
  background: rgb(136, 152, 255);
  background: linear-gradient(
    183deg,
    rgba(136, 152, 255, 1) 0%,
    rgba(70, 94, 253, 1) 61%,
    rgba(254, 254, 254, 1) 61%
  );
  min-height: 100vh;
}

.login-page h1 {
  color: white;
  text-align: center;
  margin: 20px 0 100px 0;
}

.login-page .from-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  max-width: 400px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.275);
  padding: 110px 30px 30px 30px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}

.login-page .from-container img {
  max-width: 130px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: Swing 9s infinite ease-in-out;
}

.login-page .from-container button {
  margin: 30px 0;
  width: 100%;
}

.login-page form {
  width: 100%;
}

.login-page p {
  text-align: center;
}

.login-page p a {
  color: var(--maincolor);
  text-decoration: none;
}

@keyframes Swing {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
}
