.profile {
  min-height: 100vh;

}

.profile .header{
  background: linear-gradient(
    180deg,
    rgba(136, 152, 255, 1) 0%,
    rgba(43, 71, 252, 1) 100%
  );
  border-radius: 0 0 20px 20px;
  height: 240px;
  padding: 0 15px;
}

.profile section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -70px;
}
.avatar-img {
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid white;
  background-color: white;
}

.avatar-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile h3 {
  margin-bottom: 5px;
}

.profile h5 {
  margin-bottom: 50px;
  color: var(--maincolor);
}

/*List Menu*/

.profile section:nth-of-type(2) {
  margin-left: 20px;
}

.profile .list-profil ul {
  list-style: none;
}

.profile .list-profil li {
  margin-bottom: 35px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.profile .list-profil li a {
  display: flex;
  align-items: center;
}

.profile .list-profil .icon-wrapper {
  width: 40px;
}
