.singup-page {
  background: rgb(136, 152, 255);
  background: linear-gradient(
    183deg,
    rgba(136, 152, 255, 1) 0%,
    rgba(70, 94, 253, 1) 61%,
    rgba(254, 254, 254, 1) 61%
  );
  min-height: 100vh;
}

.singup-page h1 {
  color: white;
  text-align: center;
  padding: 20px 0 70px 0;
}

.singup-page form {
    width: 100%;
}

.singup-page .from-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  max-width: 400px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.275);
  padding: 30px ;
  margin: 0 auto 30px auto;
}

.singup-page .from-container button {
  margin: 30px 0;
  width: 100%;
}

.singup-page p {
  text-align: center;
}

.singup-page p a {
  color: var(--maincolor);
  text-decoration: none;
}
