.trans-detail-wrapper-expense section {
  background-color: var(--maincolor);
  height: 20vh;
}
.trans-detail-wrapper-expense section h1 {
  color: white;
  font-size: 1rem;
  padding-top: 4rem;
}
.trans-detail-wrapper-expense article div hr {
  margin: 2rem 0 1rem 0;
}
.trans-detail-wrapper-expense article {
  border-radius: 5%;
  background-color: white;
  margin-top: -1rem;
}
 .test {
  display: flex;
  justify-content: space-between;
}
