.trans-detail-wrapper-Income {
  min-height: 100vh;
  padding: 0;
}

.header-section {
  background-color: var(--maincolor);
  height: 20vh;
  padding: 0 15px;
}

/*Img Total*/
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0 35px 0;
}

.top div {
  background-color: var(--inputborder);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.top p {
  background-color: rgba(0, 230, 107, 0.155);
  padding: 7px 15px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.green {
  color: var(--green);
}

/*Details*/
.trans-detail-wrapper-Income .wrapper-inner {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  margin-top: -30px;
  padding: 20px;
}
.trans-detail-wrapper-Income .wrapper-inner h4 {
  margin-bottom: 20px;
}

.trans-detail-wrapper-Income ul{
  margin-bottom: 30px;
}

.trans-detail-wrapper-Income .wrapper-inner li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trans-detail-wrapper-Income .wrapper-inner li {
  margin-bottom: 12px;
}

.trans-detail-wrapper-Income .wrapper-inner li p, .photo-label {
  color: var(--inputtext);
  font-size: 16px;
}

.trans-detail-wrapper-Income hr{
  opacity: 0.4;
  margin-bottom: 12px;
}

.trans-detail-wrapper-Income button{
  width: 100%;
  background: none;
  color: var( --inputtext);
  font-size: 18px;
  border: 2px solid var( --inputtext);
  padding: 12px 30px ;
  border-radius: 50px;

}

.photo-label{
  margin-bottom: 12px;
}

.trans-detail-wrapper-Income img {
  border-radius: 20px;
  margin-bottom: 30px;
}