.trans-detail-wrapper-expense {
  min-height: 100vh;
  padding: 0;
}

.header-section {
  background-color: var(--maincolor);
  height: 20vh;
  padding: 0 15px;
}

/*Img Total*/
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0 35px 0;
}

.top div {
  background-color: var(--inputborder);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.top .rot {
  background-color: rgba(255, 0, 0, 0.155);
  padding: 7px 15px;
  border-radius: 50px;
  margin-bottom: 10px;
}


/*Details*/
.trans-detail-wrapper-expense .wrapper-inner {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  margin-top: -50px;
  padding: 20px;
}
.trans-detail-wrapper-expense .wrapper-inner h4 {
  margin-bottom: 20px;
}

.trans-detail-wrapper-expense article ul {
  margin-bottom: 30px;
}

.trans-detail-wrapper-expense .wrapper-inner li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trans-detail-wrapper-expense .wrapper-inner li {
  margin-bottom: 12px;
}

.trans-detail-wrapper-expense .wrapper-inner li p,
.photo-label {
  color: var(--inputtext);
  font-size: 16px;
}

.trans-detail-wrapper-expense hr {
  opacity: 0.4;
  margin-bottom: 12px;
}

.trans-detail-wrapper-expense button {
  width: 100%;
  background: none;
  color: var(--inputtext);
  font-size: 18px;
  border: 2px solid var(--inputtext);
  padding: 12px 30px;
  border-radius: 30px;
  margin-bottom: 100px;
}

.photo-label {
  margin-bottom: 12px;
}

.trans-detail-wrapper-expense img {
  border-radius: 20px;
  margin-bottom: 30px;
}
.red-expense{
  background-color: rgba(255, 0, 0, 0.103);
  color: var(--red);
  padding: 5px 10px;
  border-radius: 20px;
  }
.green-income{
  background-color: #00b4961c;
  color: var(--green);
  padding: 5px 10px;
  border-radius: 20px;
}