@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap");

:root {
  --maincolor: #2b47fc;
  --secondcolor: #8898ff;
}

/*VERLAUF BLAU*/

/* background: rgb(136, 152, 255);
background: linear-gradient(
  180deg,
  rgba(136, 152, 255, 1) 0%,
  rgba(43, 71, 252, 1) 100%
); */

body {
  font-family: Inter, Arial;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



.btn-blue {
  margin: 0 50px;
  padding: 20px 0px;
  background: linear-gradient(
    180deg,
    rgba(136, 152, 255, 1) 0%,
    rgba(43, 71, 252, 1) 100%
  );
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: flex;
}

