@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap'); 

:root {
  --maincolor: #2b47fc;
  --secondcolor: rgba(136, 152, 255, 1);
  --coursecolor: linear-gradient(
    180deg,
    rgba(136, 152, 255, 1) 0%,
    rgba(43, 71, 252, 1) 100%
  );
}

h2 {
  color: red;
}

.App {
  height: 100vh;
  width: 100vw;
  background: rgb(136, 152, 255);
  background: linear-gradient(
    180deg,
    rgba(136, 152, 255, 1) 0%,
    rgba(43, 71, 252, 1) 100%
  );
}
